.navbar {
  @apply mb-5 bg-primary;

  &__inner {
    @apply h-20 flex items-end justify-between mx-auto;
  }

  &__logo {
    // background-image: url("~static/images/logos.png");
    // background-position: 0px -1323px;
    background-image: url("~static/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    // height: 40px;
    // width: 120px;
    height: 60px;
    width: 160px;
    background-size: contain;
    display: inline-block;
    margin-bottom: 5px;
  }

  &__user-menu {
    @apply bg-primaryLight;
    padding: 2px 10px;
    border-radius: 5px 5px 0 0;
  }
}
