body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
a,
.link {
  @apply text-indigo-700;

  &:focous {
    outline: none !important;
  }
  &:hover {
    text-decoration: underline;
  }
}

button:focus {
  outline: none;
}
